.button-list {
    list-style: none;
    margin: 0;
    padding:0
}

.button-list li, .button-list__item {
    margin-bottom:1px
}

.button-list li > a, .button-list__item > a {
    background-color: #9c5449;
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: .75em 1em;
    position: relative;
    text-decoration: none;
    transition:background-color .2s ease-in-out 0s
}

.button-list li > a:after, .button-list__item > a:after {
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: "";
    display: block;
    height: .4166666667em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right .2s ease-in-out 0s;
    width:.4166666667em
}

.button-list li > a:hover, .button-list__item > a:hover {
    background-color:#85473e
}

.button-list li > a:hover:after, .button-list__item > a:hover:after {
    right:.75em
}

@media (min-width: 48em) {
    .button-list li > a, .button-list__item > a {
        font-size: 1.2rem
    }
}

.link-list {
    list-style: none;
    margin: -.9rem 0 0;
    padding:0
}

.link-list > li, .link-list__item {
    border-bottom: 1px solid #cbcbcb;
    padding:.4rem 0
}

.link-list > li > a, .link-list__item > a {
    color: #000;
    display: block;
    font-size: .9rem;
    padding: .5555555556em 0;
    position: relative;
    text-decoration: none;
    transition:color .2s ease-in-out 0s
}

.link-list > li > a:after, .link-list__item > a:after {
    border-bottom: 3px solid #e89b8e;
    border-right: 3px solid #e89b8e;
    content: "";
    display: block;
    height: .5555555556em;
    opacity: 0;
    position: absolute;
    right: .5555555556em;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: opacity .2s ease-in-out 0s, right .2s ease-in-out 0s;
    width:.5555555556em
}

.link-list > li > a:hover, .link-list__item > a:hover {
    color:#9c5449
}

.link-list > li > a:hover:after, .link-list__item > a:hover:after {
    opacity: 1;
    right:0
}

.link-list__sub {
    list-style: none;
    margin: 0;
    padding:0
}

.link-list__sub-item > a {
    color: #000;
    display: block;
    font-size: .8rem;
    padding: .625em 1.25em .625em 1.75em;
    position: relative;
    text-decoration: none;
    transition:color .2s ease-in-out 0s
}

.link-list__sub-item > a:before {
    background-color: #cbcbcb;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: background-color .2s ease-in-out 0s;
    width:1rem
}

.link-list__sub-item > a:hover {
    color:#9c5449
}

.link-list__sub-item > a:hover:before {
    background-color:#000
}

@media (min-width: 48em) {
    .link-list__sub-item a {
        padding-left:3.5rem
    }

    .link-list__sub-item a:before {
        width: 2rem
    }
}

.menu--social-media {
    display:flex
}

.menu--social-media .menu__item:not(:last-child) {
    margin-right:1.5rem
}

.menu--social-media .menu__link {
    color: #000;
    display: block;
    height: 1.2rem;
    text-decoration: none;
    transition: transform .2s ease-in-out 0s;
    width:1.2rem
}

.menu--social-media .menu__link svg {
    fill:currentColor
}

.menu--social-media .menu__link:hover {
    transform: scale(1.15)
}

.menu--footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:-.3rem
}

.menu--footer .menu__item {
    margin-bottom: .3rem;
    width:50%
}

.menu--footer .menu__link {
    color: #000;
    display: block;
    font-size: .9rem;
    font-weight: 700;
    text-decoration:none
}

.menu--footer .menu__link.is-active, .menu--footer .menu__link.is-active-trail, .menu--footer .menu__link:hover {
    text-decoration: underline
}

.site-footer--upper {
    padding-bottom: 2.3rem;
    padding-top:2.3rem
}

.site-footer--upper .site-footer__inner {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    row-gap:1rem
}

.site-footer--lower {
    background-color: #000;
    padding-bottom: 1rem;
    padding-top:1rem
}

.site-footer--lower .copyright, .site-footer--lower .copyright a {
    color:#fff
}

.site-footer--lower .copyright {
    font-size: .8rem;
    margin:0
}

.site-footer--lower .copyright strong {
    font-weight:600
}

.site-footer--lower .copyright a {
    color:#e89b8e
}

.site-footer__menu {
    grid-column:1/span 8
}

@media (max-width: 57.4375em) {
    .site-footer__menu {
        grid-column: 1/span 10;
        grid-row:1
    }
}

@media (max-width: 37.4375em) {
    .site-footer__menu {
        grid-column: 1/span 23;
        grid-row:1
    }
}

.site-footer__address {
    grid-column:9/span 5
}

.site-footer__address .site-address {
    font-size: .9rem;
    margin:0
}

.site-footer__address .directory a {
    color:#9c5449
}

@media (max-width: 57.4375em) {
    .site-footer__address {
        grid-column: 12/span 10;
        grid-row:1
    }
}

@media (max-width: 37.4375em) {
    .site-footer__address {
        grid-column: 1/span 23;
        grid-row:2
    }
}

.site-footer__social-media {
    display: flex;
    grid-column: 15/span 9;
    justify-content:flex-end
}

@media (max-width: 57.4375em) {
    .site-footer__social-media {
        grid-column: 1/span 23;
        grid-row: 2;
        justify-content:flex-start
    }
}

@media (max-width: 37.4375em) {
    .site-footer__social-media {
        grid-row: 3
    }
}

.c-thumbnail-with-title {
    width:100%
}

.c-thumbnail-with-title:hover .c-thumbnail-with-title__title a {
    text-decoration:underline
}

.c-thumbnail-with-title__thumbnail {
    line-height: 0;
    margin-bottom: 1rem;
    position: relative;
    width:100%
}

.c-thumbnail-with-title__thumbnail img {
    width:100%
}

.c-thumbnail-with-title__thumbnail--default {
    background-color: #40725b;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width:100%
}

.c-thumbnail-with-title__thumbnail--default:before {
    background-image: url(/themes/custom/cob/images/mountain-slim.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: -7.5rem;
    mix-blend-mode: overlay;
    position: absolute;
    width: calc(300% + 2.5rem);
    z-index:0
}

.c-thumbnail-with-title__activities {
    bottom: .25rem;
    left: .25rem;
    position:absolute
}

.c-thumbnail-with-title__activities > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding:0
}

.c-thumbnail-with-title__activities > ul li {
    display: inline-block;
    margin-right:.05rem
}

.c-thumbnail-with-title__title {
    color: #000;
    font-size: 18px
}

.c-showcase__title {
    color: #000;
    font-size:1.8rem
}

.c-showcase__list {
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding:0
}

@media (min-width: 37.5em) {
    .c-showcase__list {
        grid-template-columns:1fr 1fr
    }
}

@media (min-width: 62em) {
    .c-showcase__list {
        grid-gap: 4.347826087%;
        grid-template-columns:repeat(12, 1fr)
    }

    .c-showcase__item {
        grid-column: span 3
    }
}

.c-service-card-list {
    -moz-column-gap: 2px;
    column-gap: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    margin: 0 -1.5rem;
    padding: 0;
    row-gap:2px
}

@media (min-width: 37.5em) {
    .c-service-card-list {
        grid-template-columns:repeat(2, 1fr)
    }
}

@media (min-width: 48em) {
    .c-service-card-list {
        margin:0
    }
}

@media (min-width: 62em) {
    .c-service-card-list {
        grid-template-columns:repeat(4, 1fr)
    }

    .c-service-card-list--narrow {
        grid-template-columns:repeat(3, 1fr)
    }
}

.c-service-card {
    box-sizing: border-box;
    display: block;
    height: 100%;
    min-height: 7.5rem;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    transition: background-color .2s ease-in-out 0s, background-position .2s ease-in-out 0s, transform .2s ease-in-out 0s;
    width: 100%;
    z-index:1
}

@media (min-width: 62em) {
    .c-service-card {
        background-position: 100% 550%;
        background-repeat: no-repeat;
        min-height:200px
    }

    .c-service-card:hover {
        background-position: 100% 100%;
        box-shadow: 0 4px 100px rgba(0, 0, 0, .15);
        transform: scale(1.1);
        z-index:2
    }
}

.c-service-card-list--green .c-service-card {
    background-color:#80b799
}

@media (min-width: 62em) {
    .c-service-card-list--green .c-service-card:hover {
        background-color: #40725b;
        background-image:url(/themes/custom/cob/images/mountain--green.svg)
    }

    .c-service-card-list--green .c-service-card:hover .c-service-card__content {
        border-color: #fff;
        color:#fff
    }
}

.c-service-card-list--yellow .c-service-card {
    background-color:#f6efd3
}

@media (min-width: 62em) {
    .c-service-card-list--yellow .c-service-card:hover {
        background-color: #dabe4f;
        background-image:url(/themes/custom/cob/images/mountain--yellow.svg)
    }
}

.c-service-card-list--blue .c-service-card {
    background-color:#8cb8ca
}

@media (min-width: 62em) {
    .c-service-card-list--blue .c-service-card:hover {
        background-color:#406f8c
    }
}

.c-service-card__content {
    border-top: 1px solid #000;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: .8rem;
    text-decoration:none
}

@media (min-width: 75em) {
    .c-service-card__content {
        font-size: 1.5rem
    }
}

.c-side-menu {
    border-top: 1px solid #000;
    padding-top:1rem
}

.c-side-menu__title {
    font-size: .9rem;
    letter-spacing: 2px;
    margin-bottom: .5rem;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .c-side-menu__title {
        font-size:.9rem
    }
}

.c-side-menu__list {
    list-style: none;
    padding:0
}

.c-side-menu__list li {
    border-bottom:1px solid #cbcbcb
}

.c-side-menu__list a {
    color: #000;
    display: block;
    font-size: .9rem;
    padding: .5rem .7rem .5rem 0;
    position: relative;
    text-decoration: none;
    transition:color .2s ease-in-out 0s
}

@media (min-width: 37.5em) {
    .c-side-menu__list a {
        font-size:.9rem
    }
}

.c-side-menu__list a:after {
    border-bottom: 3px solid #e89b8e;
    border-right: 3px solid #e89b8e;
    content: "";
    display: block;
    height: .5rem;
    position: absolute;
    right: 0;
    top: .8rem;
    transform: rotate(-45deg);
    transition: border-right .2s ease-in-out 0s, border-bottom .2s ease-in-out 0s, transform .2s ease-in-out 0s;
    width:.5rem
}

.c-side-menu__list a:hover {
    color:#772618
}

.c-side-menu__list a:hover:after {
    border-bottom: 3px solid #9c5449;
    border-right: 3px solid #9c5449;
    transform: translateX(.2rem) rotate(-45deg)
}

.content-stub {
    margin-bottom:1.5rem
}

@media (min-width: 48em) {
    .content-stub {
        margin-bottom:3rem
    }
}

@media (min-width: 62em) {
    .content-stub {
        margin-bottom:5rem
    }
}

.content-stub:last-child {
    margin-bottom: 0
}

.video__title {
    font-size: 2.1rem;
    line-height: 1.142857143;
    margin:0 0 .4761904762em
}

.video__item {
    height: 0;
    overflow: hidden;
    padding-top: 56.122449%;
    position:relative
}

.video__item iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width:100%
}

.video__caption {
    font-size: .8rem;
    margin-top:1rem
}

.video__caption :first-child {
    margin-top:0
}

.video__caption :last-child {
    margin-bottom: 0
}

.c-simple-list {
    border-top: 1px solid #000;
    padding-top:1rem
}

.c-simple-list__title {
    font-size: .9rem;
    letter-spacing: 2px;
    margin-bottom: .5rem;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .c-simple-list__title {
        font-size:.9rem
    }
}

.c-simple-list__list {
    font-size: .9rem;
    list-style: none;
    padding:0
}

@media (min-width: 37.5em) {
    .c-simple-list__list {
        font-size:.9rem
    }
}

.c-simple-list__list li {
    padding-top: .5rem
}

.billboard {
    box-shadow: 0 0 125px rgba(0, 0, 0, .15);
    overflow: hidden;
    position: relative;
    width:100%
}

@media (min-width: 75em) {
    .billboard {
        display:flex
    }
}

.billboard__footer {
    background-color: #e1e0e1;
    padding: 1.5rem;
    width:100%
}

@media (min-width: 48em) {
    .billboard__footer {
        padding:2.4rem 2.9rem
    }
}

@media (min-width: 62em) {
    .billboard__footer {
        display:flex
    }
}

.billboard__footer > div {
    margin-bottom:1.5rem
}

.billboard__footer > div > .field__label {
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: .3rem;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .billboard__footer > div > .field__label {
        font-size:.7rem
    }
}

.billboard__footer > div > .field__item {
    font-size: .8rem;
    font-weight:700
}

@media (min-width: 37.5em) {
    .billboard__footer > div > .field__item {
        font-size:.8rem
    }
}

.billboard__footer > div > .field__items {
    font-size: .8rem;
    font-weight:700
}

@media (min-width: 37.5em) {
    .billboard__footer > div > .field__items {
        font-size:.8rem
    }
}

@media (min-width: 62em) {
    .billboard__footer > div {
        margin-bottom: 0;
        margin-right:3rem
    }

    .billboard__footer > div:last-of-type {
        margin-right:0
    }
}

.billboard--image-cards, .billboard--no-image {
    display:block
}

@media (min-width: 48em) {
    .billboard--with-image {
        min-height:28rem
    }
}

.billboard__inner .field--name-field-contact-reference > div:not(:first-child) {
    border-top: 1px solid #e2edf2;
    margin-top: 24px;
    padding-top:24px
}

.billboard__image {
    position: relative;
    width:100%
}

.billboard__image .field {
    height: 100%;
    line-height: 0;
    width:100%
}

.billboard__image img {
    display:block
}

@media (min-width: 75em) {
    .billboard__image {
        width:74%
    }

    .billboard__image .media, .billboard__image .slick, .billboard__image .slick-initialized, .billboard__image .slick-list, .billboard__image .slick-track, .billboard__image .slick__slide, .billboard__image .slide__content, .billboard__image a {
        height:100%
    }

    .billboard__image img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        width:100%
    }
}

.billboard__content {
    background: #8cb8ca;
    font-size: 16px;
    padding: 1.5rem;
    width:100%
}

@media (min-width: 48em) {
    .billboard__content {
        padding:2.4rem 2.9rem
    }
}

@media (min-width: 75em) {
    .billboard__content {
        max-width: 345px;
        width:26%
    }

    .billboard--no-image .billboard__content {
        max-width: unset;
        padding-bottom:0
    }
}

.billboard--image-cards .billboard__content, .billboard--no-image .billboard__content {
    width:100%
}

.billboard--image-cards .billboard__content .billboard__inner, .billboard--no-image .billboard__content .billboard__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%
}

.billboard--image-cards .billboard__content .billboard__inner .field--name-field-contact-reference, .billboard--no-image .billboard__content .billboard__inner .field--name-field-contact-reference {
    width:100%
}

@media (min-width: 75em) {
    .billboard--image-cards .billboard__content .c-contact, .billboard--no-image .billboard__content .c-contact {
        display: flex;
        justify-content: space-between;
        width:100%
    }

    .billboard--image-cards .billboard__content .c-contact__content, .billboard--no-image .billboard__content .c-contact__content {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows:auto auto
    }
}

.billboard--image-cards .billboard__content .c-contact__content > div, .billboard--no-image .billboard__content .c-contact__content > div {
    margin-right:3rem
}

.billboard--image-cards .billboard__content .c-contact__social, .billboard--no-image .billboard__content .c-contact__social {
    white-space:nowrap
}

.billboard--image-cards .billboard__content .c-contact__social .button, .billboard--no-image .billboard__content .c-contact__social .button {
    margin-bottom:1.5rem
}

@media (min-width: 62em) {
    .billboard--image-cards .billboard__content .c-contact__social .button, .billboard--no-image .billboard__content .c-contact__social .button {
        display:block
    }
}

@media (min-width: 75em) {
    .billboard--image-cards .billboard__content, .billboard--no-image .billboard__content {
        max-width:unset
    }
}

.billboard--person .billboard__content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}

@media (min-width: 62em) {
    .billboard--person .billboard__content {
        flex-direction:row
    }
}

.billboard--person .billboard__content .billboard__portrait {
    flex-shrink: 0;
    margin:0 0 2.85rem
}

@media (min-width: 62em) {
    .billboard--person .billboard__content .billboard__portrait {
        margin:0 2.85rem 0 0
    }
}

.billboard--person .billboard__content .billboard__inner {
    flex-direction: column;
    justify-content:flex-start
}

.billboard--person .billboard__content h2 {
    margin-bottom:2rem
}

.billboard__content .c-contact__name {
    margin-bottom:1rem
}

.billboard__content .c-contact__name .field__label {
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: .3rem;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .billboard__content .c-contact__name .field__label {
        font-size:.7rem
    }
}

.billboard__content .c-contact__name .field__item {
    display: inline;
    font-weight:700
}

@media (max-width: 61.9375em) {
    .billboard--no-image .billboard__content, .billboard--stand-alone .billboard__content {
        padding-bottom:0
    }
}

.billboard--no-image .billboard__content .billboard__content, .billboard--no-image .billboard__content .c-contact__content, .billboard--stand-alone .billboard__content .billboard__content, .billboard--stand-alone .billboard__content .c-contact__content {
    width:100%
}

.billboard__content .billboard__inner > div, .billboard__content .field--name-field-address, .billboard__content .field--name-field-after-hours-phone, .billboard__content .field--name-field-contact-reference .field, .billboard__content .field--name-field-email, .billboard__content .field--name-field-fax-number, .billboard__content .field--name-field-first-name, .billboard__content .field--name-field-hours, .billboard__content .field--name-field-last-name, .billboard__content .field--name-field-link, .billboard__content .field--name-field-phone {
    margin: 0 0 1rem;
    width:100%
}

.billboard__content .billboard__inner > div > .field__label, .billboard__content .field--name-field-address > .field__label, .billboard__content .field--name-field-after-hours-phone > .field__label, .billboard__content .field--name-field-contact-reference .field > .field__label, .billboard__content .field--name-field-email > .field__label, .billboard__content .field--name-field-fax-number > .field__label, .billboard__content .field--name-field-first-name > .field__label, .billboard__content .field--name-field-hours > .field__label, .billboard__content .field--name-field-last-name > .field__label, .billboard__content .field--name-field-link > .field__label, .billboard__content .field--name-field-phone > .field__label {
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: .3rem;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .billboard__content .billboard__inner > div > .field__label, .billboard__content .field--name-field-address > .field__label, .billboard__content .field--name-field-after-hours-phone > .field__label, .billboard__content .field--name-field-contact-reference .field > .field__label, .billboard__content .field--name-field-email > .field__label, .billboard__content .field--name-field-fax-number > .field__label, .billboard__content .field--name-field-first-name > .field__label, .billboard__content .field--name-field-hours > .field__label, .billboard__content .field--name-field-last-name > .field__label, .billboard__content .field--name-field-link > .field__label, .billboard__content .field--name-field-phone > .field__label {
        font-size:.7rem
    }
}

.billboard__content .billboard__inner > div > .field__item, .billboard__content .field--name-field-address > .field__item, .billboard__content .field--name-field-after-hours-phone > .field__item, .billboard__content .field--name-field-contact-reference .field > .field__item, .billboard__content .field--name-field-email > .field__item, .billboard__content .field--name-field-fax-number > .field__item, .billboard__content .field--name-field-first-name > .field__item, .billboard__content .field--name-field-hours > .field__item, .billboard__content .field--name-field-last-name > .field__item, .billboard__content .field--name-field-link > .field__item, .billboard__content .field--name-field-phone > .field__item {
    font-size: .8rem;
    font-weight:700
}

@media (min-width: 37.5em) {
    .billboard__content .billboard__inner > div > .field__item, .billboard__content .field--name-field-address > .field__item, .billboard__content .field--name-field-after-hours-phone > .field__item, .billboard__content .field--name-field-contact-reference .field > .field__item, .billboard__content .field--name-field-email > .field__item, .billboard__content .field--name-field-fax-number > .field__item, .billboard__content .field--name-field-first-name > .field__item, .billboard__content .field--name-field-hours > .field__item, .billboard__content .field--name-field-last-name > .field__item, .billboard__content .field--name-field-link > .field__item, .billboard__content .field--name-field-phone > .field__item {
        font-size:.8rem
    }
}

.billboard__content .billboard__inner > div > .field__items, .billboard__content .field--name-field-address > .field__items, .billboard__content .field--name-field-after-hours-phone > .field__items, .billboard__content .field--name-field-contact-reference .field > .field__items, .billboard__content .field--name-field-email > .field__items, .billboard__content .field--name-field-fax-number > .field__items, .billboard__content .field--name-field-first-name > .field__items, .billboard__content .field--name-field-hours > .field__items, .billboard__content .field--name-field-last-name > .field__items, .billboard__content .field--name-field-link > .field__items, .billboard__content .field--name-field-phone > .field__items {
    font-size: .8rem;
    font-weight:700
}

@media (min-width: 37.5em) {
    .billboard__content .billboard__inner > div > .field__items, .billboard__content .field--name-field-address > .field__items, .billboard__content .field--name-field-after-hours-phone > .field__items, .billboard__content .field--name-field-contact-reference .field > .field__items, .billboard__content .field--name-field-email > .field__items, .billboard__content .field--name-field-fax-number > .field__items, .billboard__content .field--name-field-first-name > .field__items, .billboard__content .field--name-field-hours > .field__items, .billboard__content .field--name-field-last-name > .field__items, .billboard__content .field--name-field-link > .field__items, .billboard__content .field--name-field-phone > .field__items {
        font-size:.8rem
    }
}

.billboard__content h2 {
    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom:.75rem
}

.billboard__content .social-link-field {
    font-size: 20px;
    margin: 0;
    padding:0
}

.billboard__content .social-link-field li {
    display: inline-block;
    margin-right:1rem
}

.billboard__content .social-link-field li:last-of-type {
    margin-right:0
}

.billboard__content .social-link-field li a {
    color:#000
}

.billboard__content a {
    color: #000;
    text-decoration:none
}

.billboard__content a:hover {
    text-decoration:underline
}

.billboard__hours {
    width:100%
}

@media (min-width: 62em) {
    .billboard__cards {
        grid-column-gap: 1px;
        align-items: stretch;
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 67% 33%;
        grid-template-rows:1fr 1fr
    }
}

.billboard__cards .billboard__card {
    background-color: #406f8c;
    border-bottom: 1px solid #fff;
    display: block;
    height: 100%;
    overflow: hidden;
    width:100%
}

.billboard__cards .billboard__card:first-of-type {
    grid-row:auto/span 2
}

@media (min-width: 62em) {
    .billboard__cards.billboard__cards--2 {
        grid-template-rows:1fr
    }

    .billboard__cards.billboard__cards--1 {
        display:block
    }

    .billboard__cards.billboard__cards--1 .billboard__card {
        max-height:600px
    }
}

.billboard__cancelled {
    background-color: #406f8c;
    color: #fff;
    display: inline-block;
    font-size: .7rem;
    letter-spacing: .25em;
    margin-bottom: 24px;
    padding: .357em .642em;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .billboard__cancelled {
        font-size: .7rem
    }
}

.view__list {
    list-style: none;
    margin: 0;
    padding:0
}

.view__list .view__item:not(:first-child) {
    margin-top:24px
}

.block.block__type--views > h2 {
    font-size: .9rem;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform:uppercase
}

@media (min-width: 37.5em) {
    .block.block__type--views > h2 {
        font-size:.9rem
    }
}

.block.block__type--views .view__footer {
    margin-top: 40px
}

@media (min-width: 62em) {
    .page-title {
        align-items: center;
        display: flex;
        justify-content:space-between
    }
}

.page-title > * {
    margin:0 0 1.5rem
}

.page-title__title {
    font-size: 2.1rem;
    line-height:1.111111111
}

@media (min-width: 48em) {
    .page-title__title {
        font-size:2.7rem
    }
}

@media (min-width: 62em) {
    .page-title__title {
        font-size: 3.6rem
    }
}

.breadcrumb {
    margin-bottom:.3rem
}

.breadcrumb__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0
}

.breadcrumb__item {
    position:relative
}

.breadcrumb__item:not(:last-child) {
    padding-right:1.5rem
}

.breadcrumb__item:not(:last-child):after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    display: block;
    height: .3rem;
    position: absolute;
    right: .55rem;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    width:.3rem
}

@media (min-width: 48em) {
    .breadcrumb__item:not(:last-child) {
        padding-right:2rem
    }

    .breadcrumb__item:not(:last-child):after {
        right:.9rem
    }
}

.breadcrumb__text {
    color: #000;
    font-size:.9rem
}

.breadcrumb__link {
    text-decoration:none
}

.breadcrumb__link:hover {
    text-decoration:underline
}

.breadcrumb__separator {
    color: #c3c1c3
}

.page-intro {
    background-color:#e2edf2
}

.page-intro--alt {
    background-color:transparent
}

@media (max-width: 47.9375em) {
    .page-intro--normal .page-intro__inner {
        padding-bottom: 1.5rem;
        padding-top:1.5rem
    }
}

@media (min-width: 48em) {
    .page-intro--normal .page-intro__inner {
        padding-bottom:3rem
    }
}

@media (min-width: 62em) {
    .page-intro--normal .page-intro__inner {
        padding-bottom:4rem
    }
}

.page-intro--billboard {
    position:relative
}

.page-intro--billboard:after {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 6rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index:1
}

.page-node-type-trail .page-intro--billboard:after, .page-node-type-trailhead .page-intro--billboard:after {
    height:11rem
}

.page-intro__inner {
    position: relative;
    z-index:2
}

@media (max-width: 47.9375em) {
    .page-intro__inner {
        padding-top: 1rem
    }
}

.menu--utility .menu__link {
    color: #000;
    display: block;
    font-size: .8rem;
    text-decoration:none
}

.menu--utility .menu__link.is-active, .menu--utility .menu__link.is-active-trail, .menu--utility .menu__link:hover {
    text-decoration:underline
}

.menu--utility .menu__item--icon {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight:700
}

@media (max-width: 47.9375em) {
    .menu--utility .menu__item--icon svg {
        margin-right:10px
    }
}

@media (min-width: 48em) {
    .menu--utility .menu__item__text--icon {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width:1px
    }
}

.masthead--desktop .menu--utility {
    align-items: center;
    display:flex
}

.masthead--desktop .menu--utility .menu__item {
    margin-left:1.5rem
}

.masthead--desktop .menu--utility .menu__link[data-icon] {
    height: .9rem;
    transition: transform .2s ease-in-out 0s;
    width:.9rem
}

.masthead--desktop .menu--utility .menu__link[data-icon] svg {
    fill:currentColor
}

.masthead--desktop .menu--utility .menu__link[data-icon]:hover {
    transform:rotate(10deg)
}

.masthead--desktop .menu--utility .menu__link[data-icon] svg {
    height: 100%;
    width:100%
}

@media (min-width: 62em) {
    .masthead--desktop .menu--utility .menu__link {
        font-size:.9rem
    }

    .masthead--desktop .menu--utility .menu__link[data-icon] {
        height: 1rem;
        width:1rem
    }
}

.masthead__mobile-nav .menu--utility .menu__item {
    margin-bottom:1rem
}

.masthead__mobile-nav .menu--utility .menu__item.hide-mobile {
    display:none
}

.masthead__mobile-nav .menu--utility .menu__link[data-icon] {
    height: 65px;
    padding: 1rem 0;
    transition: transform .2s ease-in-out 0s;
    width:45px
}

.masthead__mobile-nav .menu--utility .menu__link[data-icon] svg {
    fill: currentColor;
    height: 25px;
    min-width: 25px;
    width: 25px
}

.menu--main .menu__link {
    color: #000;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    text-decoration:none
}

.menu--main .menu__link:after {
    border-bottom: 1px solid #000;
    bottom: -.3rem;
    content: "";
    display: block;
    height: .3rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(.2rem);
    transition: opacity .2s ease-in-out 0s, transform .2s ease-in-out 0s;
    width:100%
}

.menu--main .menu__link.is-active-trail:after, .menu--main .menu__link.is-active:after, .menu--main .menu__link:hover:after {
    opacity: 1;
    pointer-events: auto;
    transform:translateY(0)
}

.masthead--desktop .menu--main {
    display:flex
}

.masthead--desktop .menu--main .menu__item {
    margin-left:1.5rem
}

@media (min-width: 62em) {
    .masthead--desktop .menu--main .menu__link {
        font-size:1.2rem
    }
}

.masthead__mobile-nav .menu--main .menu__item {
    margin-bottom:1.5rem
}

.masthead__mobile-nav .menu--main .menu__link {
    display: inline-block
}

.masthead--desktop .masthead__inner {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
    position:relative
}

@media (min-width: 62em) {
    .masthead--desktop .masthead__inner {
        padding-bottom: 2.4rem;
        padding-top:2.4rem
    }
}

.masthead--desktop .masthead__brand {
    border: 18px solid #e2edf2;
    border-radius: 50%;
    box-sizing: content-box;
    height: 4.95rem;
    left: calc(1.4rem - 18px);
    position: absolute;
    top: 1.5rem;
    transition: transform .2s ease-in-out 0s;
    width: 5rem;
    z-index:15
}

.masthead--desktop .masthead__brand .logo, .masthead--desktop .masthead__brand .logo__image {
    display:block
}

.masthead--desktop .masthead__brand .logo__image {
    width:100%
}

.masthead--desktop .masthead__brand:hover {
    transform:scale(1.03)
}

.page-intro--alt .masthead--desktop .masthead__brand {
    border:18px solid #fff
}

@media (min-width: 62em) {
    .masthead--desktop .masthead__brand {
        height: 7.15rem;
        width:7.2rem
    }
}

.masthead--desktop .masthead__navigation {
    display: flex;
    flex-direction:column
}

.masthead--desktop .masthead__navigation .masthead__menu-main, .masthead--desktop .masthead__navigation .masthead__utilities {
    margin-left:auto
}

.masthead--desktop .masthead__navigation .masthead__utilities {
    align-items: center;
    display:flex
}

.masthead--desktop .masthead__navigation .masthead__translate {
    margin-left:1rem
}

.masthead--desktop .page-intro--alt .masthead__menu-main {
    position:relative
}

.masthead--desktop .page-intro--alt .masthead__menu-main:before {
    background-color: #e2edf2;
    content: "";
    height: 420px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index:-1
}

.masthead--desktop .masthead__menu-main {
    margin-top:.5rem
}

@media (min-width: 62em) {
    .masthead--desktop .masthead__menu-main {
        margin-top:1rem
    }
}

@media (max-width: 47.9375em) {
    .masthead--desktop {
        display:none
    }
}

.masthead__translate a.google-translator-switch {
    border: 1px solid #000;
    color: #000;
    font-size: .8rem;
    font-weight: 300;
    padding: .1em .4em;
    text-decoration: none;
    text-transform:uppercase
}

.masthead__translate #google_translator_element {
    display: block;
    margin-bottom:.5rem
}

.masthead--mobile {
    border-bottom: 1px solid #000;
    height: 3.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    transition: background-color .2s ease-in-out 0s;
    z-index:10
}

.masthead-menu-open .masthead--mobile {
    background-color:#fff
}

.masthead--mobile .masthead__inner {
    display:flex
}

.masthead--mobile .masthead__brand {
    flex:1
}

.masthead--mobile .masthead__brand .logo {
    align-content: center;
    color: #000;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    text-transform:uppercase
}

.masthead--mobile .masthead__brand .logo .logo__image {
    display: block;
    height: auto;
    width:1.5rem
}

.masthead--mobile .masthead__brand .logo .logo__text {
    flex: 1;
    margin-left:.5rem
}

@media (min-width: 48em) {
    .masthead--mobile {
        display:none
    }
}

.masthead__menu-trigger {
    display: block;
    height: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    width:1.5rem
}

.masthead__menu-trigger .icon, .masthead__menu-trigger:after, .masthead__menu-trigger:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width:100%
}

.masthead__menu-trigger .icon {
    opacity: 1;
    pointer-events: none;
    top:calc(50% - 1px)
}

.masthead__menu-trigger:before {
    top:0
}

.masthead__menu-trigger:after {
    top:calc(100% - 2px)
}

.masthead__menu-trigger[data-menu=closed] .icon {
    transition:opacity 0s ease-in-out .2s
}

.masthead__menu-trigger[data-menu=closed]:after, .masthead__menu-trigger[data-menu=closed]:before {
    transition:transform .2s ease-in-out 0s, top .2s ease-in-out .2s
}

.masthead__menu-trigger[data-menu=open] .icon {
    opacity: 0;
    transition:opacity 0s ease-in-out .2s
}

.masthead__menu-trigger[data-menu=open]:before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
    transition:top .2s ease-in-out 0s, transform .2s ease-in-out .2s
}

.masthead__menu-trigger[data-menu=open]:after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
    transition:top .2s ease-in-out 0s, transform .2s ease-in-out .2s
}

.masthead__mobile-nav {
    background-color: #fff;
    padding-bottom: 1.5rem;
    padding-top:1.5rem
}

.masthead__mobile-nav[data-menu] {
    left: 0;
    padding-top: 5rem;
    position: absolute;
    top: 0;
    transition: opacity .2s ease-in-out 0s;
    width: 100%;
    z-index:5
}

.masthead__mobile-nav[data-menu=closed] {
    opacity: 0;
    pointer-events:none
}

.masthead__mobile-nav[data-menu=open] {
    opacity: 1;
    pointer-events:auto
}

@media (min-width: 48em) {
    .masthead__mobile-nav {
        display:none !important
    }
}

.masthead__mobile-nav .masthead__translate a.google-translator-switch {
    display:block
}

.masthead-menu-closed, .masthead-menu-open {
    position:relative
}

.masthead-menu-closed:after, .masthead-menu-open:after {
    background-color: hsla(0, 0%, 100%, .7);
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s ease-in-out 0s;
    width: 100%;
    z-index:4
}

.masthead-menu-closed {
    position:relative
}

.masthead-menu-closed:after {
    opacity: 0;
    pointer-events:none
}

.masthead-menu-open {
    position:relative
}

.masthead-menu-open:after {
    opacity: 1;
    pointer-events: auto
}